<link rel="stylesheet" href="/nav.css">
<nav>
    <div class="site-title">
        <a href="/blogs">Dashboard</a>
        <p>Abass website</p>
    </div>
    <ul>
        <!-- <li><a href="/">Blogs</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Sign Up</a></li>
    </ul>
</nav>
